.body {
    color: whitesmoke
    background-color: green ;
    font-size: 36px;
}

#thankYou{
    font-size: 36px;
    color: whitesmoke;
    background-color: green;
    text-align: center;
    padding: 50px;

}



