.body {
    background-color: lightgray;
}

#thankYou {
    font-size: 36px;
    color: darkblue;
    text-align: center;
    padding: 50px;
    margin: 100;

}

#applicationComplete {
    text-align: center;
    margin: 0px, 100px, 0px 100px;
    font-size: 30px;
}

#familyMembers {
    text-align: center;
    font-size: 26px;
}

#numberOfFamily {
    font-size: 25px;
}

#numberOfPets {
    font-size: px;

}

#nextButton {
    font-size: 20px;
}
